body {
    font-family: 'Oswald', sans-serif;
  }
  .inline-block {
    display: inline-block;
    background-color: white;
    padding: 15px;
    width: 150px;
    text-align: center;
  }
  .header {
    background-color: #FFBD00 ;
    padding: 5px;
  }
  .left {
    float: left;
    width: 30%;
    background-color: black;
    height: 500px;
  }
  .right {
    float: left;
    width: 70%;
    background-color: gold;
    height: 400px;
  }
  .container1 {
    text-align: center;
    padding: 15px;
  }
  .container2 {
    background-color: #FFFF78;
    padding: 15px;
  }
  .imagePlaceholder {
    height: 250px;
    background-color: orange;
  }
  .body {
    width: 300px;
    height: 350px;
    text-align: center;
    color: white;
  }
  